{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center lead" style="color: rgb(178, 34, 34); margin-top: -40px; font-size: 36px;">Печать разных форматов</h1>

    <div class="row mt-4">
        <div class="col-md-6">
            <img src="/media/f1.jpg" alt="Офсетная и цифровая печать А1" class="img-fluid" style="max-height: 90%;">
        </div>
        <div class="col-md-6 lead">
            <h2 class="lead" style="font-weight: bold;">Офсетная и цифровая печать А1</h2>
            <p>В производстве могут быть задействованы две основные технологии:</p>
            <ul>
                <li><strong>Цифровая печать формата А1</strong> позволяет получать готовые оттиски без применения физических печатных форм. Изображение наносится сразу на конечный носитель, без предварительного перенесения на оборудование. Выделяют лазерную и струйную разновидности «цифры».</li>
                <li><strong>Офсетный способ</strong> предполагает перенос изображения на плотную бумагу или самоклеящуюся пленку со специальной формы. Изначально на рабочем цилиндре составляется шаблон текста или картинки из металлических составляющих. Краска поступает на офсетный цилиндр и соприкасается с рабочим. В результате шаблон переносится на носитель и распечатывается на листе А1.</li>
            </ul>
            <p>Обе техники дают возможность создавать черно-белые и цветные материалы с высокой детализацией. Они отлично подходят для распечатки чертежей, плакатов, афиш, схем, портретов, фотографий, брендовой и информационной продукции.</p>
        </div>
    </div>

    <div class="row mt-4 lead">
        <div class="col-md-6 lead">
            <h2 class="lead" style="font-weight: bold;">Офсетная и цифровая печать А2</h2>
            <p>Наши технологии помогают быстро решить маркетинговые задачи и оформить эффективные рекламные объекты. Для этой цели распечатываем афиши, баннеры, плакаты с высокой детализацией рисунка. Для учебного или рабочего процесса напечатаем чертежи и схемы. Для оформления интерьера вы можете заказать портреты, фото и постеры. Изображения могут быть черно-белыми и цветными.</p>
            <p><strong>Что мы предлагаем?</strong></p>
            <ol>
                <li><strong>Офсетную печать.</strong> Позволяет печатать крупные тиражи с низкой себестоимостью и точным воспроизведением оригинала. Дает возможность выбрать вариант оформления печатной продукции, а также использовать различные виды бумаги и чернил. Специалистам потребуется предварительно создать фотоформы, что займет время.</li>
                <li><strong>Цифровую печать формата А2.</strong> Порадует оперативностью исполнения заказа и сравнительно низкой стоимостью за небольшой тираж. В процессе используется лазерный или струйный принтер. Нет необходимости выводить пленки и изготавливать трафареты.</li>
            </ol>
        </div>
        <div class="col-md-6">
            <img src="/media/f3.jpg" alt="Офсетная и цифровая печать А2" class="img-fluid" style="max-height: 90%;">
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-md-6">
            <img src="/media/f2.jpg" alt="Офсетная и цифровая печать А3" class="img-fluid" style="max-height: 90%;">
        </div>
        <div class="col-md-6 lead" >
            <h2 class="lead" style="font-weight: bold;">Офсетная и цифровая печать А3</h2>
            <p>В зависимости от целевого назначения продукции может использоваться офсетная или цифровая печать формата А3. В обоих случаях картинка получается с высокой детализацией. В качестве запечатываемого основания выбирается плотная бумага или самоклеящаяся плёнка.</p>
            <p><strong>Офсет</strong> идеален для выпуска полиграфии в крупных объёмах. Это технология непрямого переноса изображения, где важно настроить работу оборудования.</p>
            <p><strong>Цифровая технология</strong> привлекает внимание скоростью: здесь отсутствует подготовительный этап, картинка переносится прямо с электронного носителя. Подходит этот способ для изготовления штучных экземпляров или небольших партий.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 lead">
            <h2 class="lead" style="font-weight: bold;">Лазерная и струйная печать А4</h2>
            <p>В нашей компании используются оба метода печати. Они позволяют распечатывать листы А4 в черно-белом и цветном формате, на глянцевой, матовой, плотной бумаге и самоклеящейся пленке. Лазерный принтер печатает порошком (тонером), а струйный – жидкими красками.</p>
            <p><strong>Лазерная печать</strong> в формате А4 обеспечивается за счет того, что лазер нагревает фрагменты бумаги. Её нагретые части пропускаются через красящий пигмент, который остается на носителе. Этот вариант подходит для больших объемов, он экономичен, подходит для любых материалов, отличается скоростью, четкостью и чистотой производства.</p>
            <p><strong>Струйная технология</strong> для создания изображения или текста использует распыляющиеся чернила. Они в виде небольших точек наносятся на поверхность. Плюс такого способа в высоком разрешении и детализации.</p>
        </div>
        <div class="col-md-6">
            <img src="/media/f4.jpg" alt="Лазерная и струйная печать А4" class="img-fluid" style="max-height: 90%;">
        </div>
    </div>

    <div class="row mt-4 lead">
        <div class="col-md-12">
            <h2 class="lead" style="margin-top: 10px; font-weight: bold;">Цены</h2>
            <div class="table-responsive">
                <table class="table table-bordered lead" style="margin-bottom: 40px; margin-top: 20px;">
                    <thead class="table-dark">
                        <tr>
                            <th>Формат/тип бумаги</th>
                            <th>Фотобумага - 230 г./м на выбор (матовая, сатин, глянец)</th>
                            <th>Чертежная 90г./м</th>
                            <th>Акварельная архивная 310 г./м</th>
                            <th>Самоклейка (матовая, интерьерная)</th>
                            <th>Накатка на пенокартон Толщина 5 мм.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>А0 (841х1189мм)</td><td>1000 руб.</td><td>600 руб.</td><td>1900 руб.</td><td>1000 руб.</td><td>1520 руб.</td></tr>
                        <tr><td>А1 (594х841мм)</td><td>600 руб.</td><td>350 руб.</td><td>1200 руб.</td><td>600 руб.</td><td>770 руб.</td></tr>
                        <tr><td>А2 (420х594мм)</td><td>400 руб.</td><td>250 руб.</td><td>800 руб.</td><td>400 руб.</td><td>380 руб.</td></tr>
                        <tr><td>А3 (300х420мм)</td><td>200 руб.</td><td>80 руб.</td><td>400 руб.</td><td>200 руб.</td><td>190 руб.</td></tr>
                        <tr><td>А4 (210х297мм)</td><td>150 руб.</td><td>50 руб.</td><td>300 руб.</td><td>200 руб.</td><td>170 руб.</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}