{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center lead" style="color: rgb(178, 34, 34); margin-top: -20px; font-size: 36px;">Наша продукция</h1>
    <div class="row" style="margin-top: 20px">
        {% for product in products %}
        <div class="col-lg-3 col-md-4 col-6 mb-4">
            <div class="card border-white">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <div class="card-body text-center">
                    <h5 class="card-title lead">{{ product.name }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

