{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center lead" style="color: rgb(178, 34, 34); margin-top: -60px; font-size: 36px;">Цифровая печать</h1>

    <div class="row" style="margin-top: 20px">
        <div class="col-md-8 lead">
            <p>
                Метод цифровой печати – процесс нанесения изображений напрямую с компьютера без использования дополнительных устройств.
                Технология отличается быстротой изготовления полиграфической продукции и высоким разрешением печати, что особенно актуально
                для рекламных изделий и чертежей архитектурных проектов. Чернила могут наноситься на бумагу, картон, текстиль любых размеров.
            </p>
            <p>
                При больших тиражах выгоднее воспользоваться офсетным производством полиграфии, при срочном заказе или небольшой партии лучше выбрать цифровую печать.
                У нас новейшее оборудование, оно создает естественную и насыщенную цветопередачу. Используем безопасные для здоровья краски, в наличии бумага различной
                плотности и другие материалы, делаем постпечатную обработку (тиснение, конгрев, вырубка, ламинация). Забрать готовую продукцию можно самостоятельно
                или заказать доставку по Нижнему Новгороду.
            </p>
        </div>
        <div class="col-md-4">
              <img src="/media/digital_printing.jpg" class="img-fluid">

        </div>
    </div>

    <section class="pricing mt-5">
        <h2 class="text-center lead" style="margin-top: -30px; font-weight: bold;">Стоимость услуги</h2>
        <table class="table table-bordered lead" style="margin-top: 30px;">
            <thead class="table-dark">
                <tr>
                    <th>Формат / Тираж</th>
                    <th>10</th>
                    <th>50</th>
                    <th>100</th>
                    <th>200</th>
                    <th>300</th>
                    <th>400</th>
                    <th>500</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>A4 (210x297)</td><td>550 руб.</td><td>750 руб.</td><td>1 200 руб.</td><td>2 650 руб.</td><td>3 590 руб.</td><td>3 800 руб.</td><td>4 500 руб.</td></tr>
                <tr><td>A4 (210x297)</td><td>600 руб.</td><td>1 100 руб.</td><td>2 000 руб.</td><td>3 200 руб.</td><td>4 600 руб.</td><td>6 000 руб.</td><td>6 350 руб.</td></tr>
                <tr><td>A5 (148x210)</td><td>500 руб.</td><td>650 руб.</td><td>1 150 руб.</td><td>1 600 руб.</td><td>1 800 руб.</td><td>2 000 руб.</td><td>2 550 руб.</td></tr>
                <tr><td>A5 (148x210)</td><td>550 руб.</td><td>1 000 руб.</td><td>1 300 руб.</td><td>2 200 руб.</td><td>2 900 руб.</td><td>3 500 руб.</td><td>4 000 руб.</td></tr>
                <tr><td>A6 (105x148)</td><td>400 руб.</td><td>600 руб.</td><td>1 000 руб.</td><td>1 250 руб.</td><td>1 600 руб.</td><td>2 000 руб.</td><td>2 500 руб.</td></tr>
                <tr><td>A6 (105x148)</td><td>450 руб.</td><td>900 руб.</td><td>1 100 руб.</td><td>1 350 руб.</td><td>1 800 руб.</td><td>2 700 руб.</td><td>2 837 руб.</td></tr>
                <tr><td>210x98</td><td>500 руб.</td><td>1 431 руб.</td><td>1 780 руб.</td><td>2 327 руб.</td><td>2 465 руб.</td><td>2 900 руб.</td><td>3 336 руб.</td></tr>
                <tr><td>210x98</td><td>550 руб.</td><td>1 520 руб.</td><td>1 993 руб.</td><td>2 441 руб.</td><td>2 555 руб.</td><td>2 732 руб.</td><td>3 694 руб.</td></tr>
            </tbody>
        </table>
    </section>

    <section class="comparison mt-5 lead" style="margin-top: 20px;">
        <h2 class="lead" style="font-weight: bold;">Чем цифровая печать отличается от офсетной</h2>
        <p style="margin-top: 20px;">
            В отличие от офсетной печати, цифровой метод не предусматривает использования промежуточных форм и длительной предпечатной подготовки, связанной с их изготовлением.
            Передача изображений и текста на носитель происходит из электронного файла.
        </p>
        <p>
            В любой момент есть возможность подправить дизайн, внеся корректировки. Из-за отсутствия надобности изготавливать специальные формы, сроки производства требуют минимума времени – от 1 часа, если у вас имеется макет.
        </p>
    </section>

    <section class="methods mt-5 lead">
        <h2 class="lead" style="font-weight: bold;">Способы цифровой печати</h2>
        <ul style="margin-top: 20px; margin-bottom: 40px;" >
            <li><strong>Струйная печать</strong> – чернила наносятся капельными струями из печатающей головки. По принципу функционирования напоминает ткацкий станок. Бумага лежит под подвижными головками, которые двигаются по ней, распыляя краску. Метод обеспечивает четкие отпечатки. На машинах со струйным принципом подготавливается рулонная (широкоформатная) наружная реклама и интерьерный декор.</li>
            <li><strong>Лазерная печать</strong> – специальная матрица посылает микропроцессору коды и направляет лазерный луч на барабан. Технология имеет следующие особенности: быстрая производительность, низкая шумность процесса, экономия (заправка нужна в 2 разы реже). Лазерное оборудование применяется для листовой печати – получения буклетов, листовок, визиток.</li>
        </ul>
    </section>
</div>
{% endblock %}
