{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center lead" style="color: rgb(178, 34, 34); margin-top: -60px; font-size: 36px;" >Широкоформатная печать</h1>

    <div class="row" style="margin-top: 30px">
        <div class="col-md-8 lead">
            <p>
                В нашей широкоформатная печать используется для изготовления различной полиграфической продукции:
                плакатов, баннеров, стендов, декоративных элементов интерьера. С помощью этой технологии можно перенести
                красочное изображение или текст практически на любой материал больших размеров. Наше оборудование передает
                всю палитру цветов. Мы делаем все виды постпечатной обработки (ламинацию, конгрев, тиснение, резку и
                многое другое). Забрать заказ можно самостоятельно или воспользоваться нашей курьерской службой доставки
                по Дзержинску. Готовы к срочной работе – изготовление полиграфии от 1 часа. При отсутствии макета сделаем
                оригинальный дизайн.
            </p>
            <p>
                Широкоформатная печать зарекомендовала себя как наглядный и эффективный способ донести до потребителя важную
                информацию. Если стоит задача привлечь аудиторию и заявить о себе - это отличный выбор!
            </p>
        </div>
        <div class="col-md-4">
            <img src="/media/wide2.jpg" class="img-fluid" alt="Широкоформатная печать" style="max-width: 100%;">
        </div>
    </div>
    
    <h2 class="text-center lead" style="font-weight: bold;">Стоимость услуги</h2>
    <table class="table table-bordered lead" style="margin-top:20px;">
        <thead class="table-dark">
            <tr>
                <th>Материал</th>
                <th colspan="3">360 dpi</th>
                <th colspan="3">720 dpi</th>
                <th colspan="3">1440 dpi</th>
            </tr>
            <tr>
                <th></th>
                <th>1-50 м²</th>
                <th>50-100 м²</th>
                <th>от 100 м²</th>
                <th>1-50 м²</th>
                <th>50-100 м²</th>
                <th>от 100 м²</th>
                <th>1-50 м²</th>
                <th>50-100 м²</th>
                <th>от 100 м²</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Баннер Ламинированный, Китай, 440 г/м²</td>
                <td>295 ₽</td><td>275 ₽</td><td>255 ₽</td>
                <td>355 ₽</td><td>325 ₽</td><td>305 ₽</td>
                <td>455 ₽</td><td>425 ₽</td><td>405 ₽</td>
            </tr>
            <tr>
                <td>Баннер Литой, Европа, 440 г/м²</td>
                <td>365 ₽</td><td>345 ₽</td><td>325 ₽</td>
                <td>435 ₽</td><td>415 ₽</td><td>395 ₽</td>
                <td>435 ₽</td><td>415 ₽</td><td>395 ₽</td>
            </tr>
            <tr>
                <td>Баннерная ткань BackLite (транслюцентная), 510 г/м²</td>
                <td>605 ₽</td><td>585 ₽</td><td>565 ₽</td>
                <td>675 ₽</td><td>655 ₽</td><td>635 ₽</td>
                <td>805 ₽</td><td>775 ₽</td><td>755 ₽</td>
            </tr>
            <tr>
                <td>Баннерная ткань Blackout (печать с одной стороны)</td>
                <td>505 ₽</td><td>495 ₽</td><td>485 ₽</td>
                <td>575 ₽</td><td>565 ₽</td><td>555 ₽</td>
                <td>675 ₽</td><td>665 ₽</td><td>655 ₽</td>
            </tr>
            <tr>
                <td>Баннерная сетка, 270 г/м²</td>
                <td>365 ₽</td><td>345 ₽</td><td>325 ₽</td>
                <td>435 ₽</td><td>415 ₽</td><td>395 ₽</td>
                <td>535 ₽</td><td>515 ₽</td><td>495 ₽</td>
            </tr>
            <tr>
                <td>Самоклеющаяся плёнка Oralet 3640, (глянцевая, матовая, прозрачная), 80 мкр. (Германия)</td>
                <td>325 ₽</td><td>305 ₽</td><td>285 ₽</td>
                <td>425 ₽</td><td>405 ₽</td><td>385 ₽</td>
                <td>525 ₽</td><td>505 ₽</td><td>485 ₽</td>
            </tr>
            <tr>
                <td>Плёнка Backlit, 100 мкр.</td>
                <td>495 ₽</td><td>475 ₽</td><td>455 ₽</td>
                <td>565 ₽</td><td>545 ₽</td><td>525 ₽</td>
                <td>565 ₽</td><td>545 ₽</td><td>525 ₽</td>
            </tr>
            <tr>
                <td>Плёнка Backlit, 240 мкр.</td>
                <td>705 ₽</td><td>685 ₽</td><td>665 ₽</td>
                <td>805 ₽</td><td>785 ₽</td><td>765 ₽</td>
                <td>805 ₽</td><td>785 ₽</td><td>765 ₽</td>
            </tr>
            <tr>
                <td>Перфорированная пленка</td>
                <td>805 ₽</td><td>785 ₽</td><td>765 ₽</td>
                <td>885 ₽</td><td>865 ₽</td><td>845 ₽</td>
                <td>885 ₽</td><td>865 ₽</td><td>845 ₽</td>
            </tr>
            <tr>
                <td>Бумага Blue Back Side 115 г/м²</td>
                <td>175 ₽</td><td>165 ₽</td><td>155 ₽</td>
                <td>255 ₽</td><td>245 ₽</td><td>235 ₽</td>
                <td>355 ₽</td><td>345 ₽</td><td>335 ₽</td>
            </tr>
            <tr>
                <td>Бумага CityLight матовая 150 г/м²</td>
                <td>245 ₽</td><td>225 ₽</td><td>205 ₽</td>
                <td>325 ₽</td><td>305 ₽</td><td>285 ₽</td>
                <td>325 ₽</td><td>305 ₽</td><td>285 ₽</td>
            </tr>
            <tr>
                <td>Фотобумага матовая/глянцевая 210 г/м²</td>
                <td>365 ₽</td><td>345 ₽</td><td>325 ₽</td>
                <td>455 ₽</td><td>435 ₽</td><td>425 ₽</td>
                <td>555 ₽</td><td>535 ₽</td><td>525 ₽</td>
            </tr>
            <tr>
                <td>Холст натуральный, 350 г/м²</td>
                <td>-</td><td>-</td><td>-</td>
                <td>855 ₽</td><td>825 ₽</td><td>805 ₽</td>
                <td>955 ₽</td><td>925 ₽</td><td>905 ₽</td>
            </tr>
        </tbody>
    </table>
    
<div class="row mt-5 d-flex align-items-center">
    <div class="col-md-6">
        <h2 class="lead" style="margin-top: -20px; font-weight: bold;">Плюсы широкоформатной печати</h2>
        <p style="margin-top: 20px;" class="lead">
            Высокое разрешение широкоформатной печати позволяет передать все нюансы цветовой гаммы. Картина получается
            четкой и привлекательной, как фотография. Что касается сохранности подобного изображения, то оно долго
            прослужит при дожде, ветре, солнце и ночном освещении. Для наружной рекламы сложно сделать более удачный
            выбор.
        </p>
        <p class="lead">
            К достоинствам полноцветной широкоформатной печати относят:
        </p>
        <ul class="lead">
            <li>Возможность нанесения на различные материалы.</li>
            <li>Устойчивость к атмосферным осадкам, ультрафиолетовому излучению.</li>
            <li>Эффектную цветопередачу.</li>
        </ul>
        <p style="margin-bottom: 30px;" class="lead">
            Для улиц принято применять устойчивые сольвентные краски, они не выцветают и не теряют яркости с течением
            времени. Для интерьерных работ используют менее токсичные экосольвентные чернила с нейтральным запахом или
            УФ-краски.
        </p>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
        <img src="/media/wide3.jpg" class="img-fluid me-2" alt="Преимущества широкоформатной печати" style="max-width: 50%;">
        <img src="/media/wide1.jpg" class="img-fluid" alt="Преимущества широкоформатной печати" style="max-width: 50%;">
    </div>
</div>
</div>
{% endblock %}